$pink: #FB46FF;
$white: #FFFFFF;
$white-2: #EAEAEB;
$grey: #D9D9D9;
$grey-2: #383838;
$grey-02-black: rgba(6, 6, 6, 0.2);
$grey-06-black: rgba(6, 6, 6, 0.6);
$grey-02-white: rgba(255, 255, 255, 0.2);
$grey-06-white: rgba(255, 255, 255, 0.6);
$grey-07-white: rgba(255, 255, 255, 0.7);
$grey-08-white: rgba(255, 255, 255, 0.8);
$dark-grey: rgba(255, 255, 255, 0.2);
$black: #060606;